flow.json
[
    {
        "id": "a70b308d97d0a0ed",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e47e114784508322",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6e545ede.d4925",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "0ba476ce26e5c034",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "192ce9b6f2289ad3"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1040,
                "y": 100,
                "wires": [
                    {
                        "id": "803a7c5001f0ec05",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "e92dc53c81852ec7",
        "type": "subflow",
        "name": "Subflow 3",
        "info": "",
        "in": [
            {
                "x": null,
                "y": null,
                "wires": [
                    {
                        "id": "d27f6f5d4cc32eee"
                    }
                ]
            }
        ],
        "out": []
    },
    {
        "id": "f1eb68bd8dddaee2",
        "type": "subflow",
        "name": "Subflow 4",
        "info": "",
        "in": [
            {
                "x": 20,
                "y": 80,
                "wires": [
                    {
                        "id": "f5b6bbc15439bbef"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 160,
                "wires": [
                    {
                        "id": "4808205d1f385054",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "9039ce5a53d8ac8d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "803a7c5001f0ec05",
        "type": "function",
        "z": "0ba476ce26e5c034",
        "name": "Calculo altitud ,punto de rocio y fecha",
        "func": "///////////ALTITUD/////////\nlet presionNivelMar = 101325;\nlet gravedad = 9.8;\nlet presionAire = 1.22\nlet constante = (presionAire*gravedad)/presionNivelMar;\nmsg.payload.altitud = -(Math.log((msg.payload.rawData.presion*100)/presionNivelMar)/constante)\n/////////////////////\n\n////////////////PUNTO DE ROCIO/////////////////\nlet R = (Math.pow((msg.payload.rawData.humedad/ 100), 0.125)) * (112 - (-(0.9 * msg.payload.rawData.temperatura))) - (-(0.1 * msg.payload.rawData.temperatura)) - 112;\nmsg.payload.puntoRocio = (Math.round(R * 100)) / 100\n///////////////////////////////////////////////\nmsg.payload.fechaHoraRecepcion = new Date();\n\nmsg.payload.rawData.temperatura = parseFloat(msg.payload.rawData.temperatura).toFixed(2);\nmsg.payload.rawData.humedad = parseFloat(msg.payload.rawData.humedad).toFixed(2);\nmsg.payload.rawData.presion = parseFloat(msg.payload.rawData.presion).toFixed(2);\nmsg.payload.altitud = parseFloat(msg.payload.altitud).toFixed(2);\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "97d679fe1aa414ae",
        "type": "template",
        "z": "0ba476ce26e5c034",
        "name": "Armo el JSON",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n\"rawData\":{\n    \"temperatura\":\"{{payload.temperature_C}}\",\n    \"humedad\":\"{{payload.humidity}}\",\n    \"presion\":\"{{payload.pressure_hPa}}\"\n    },\n    \"ubicacion\":{\n        \"ciudad\":\"{{msg.ubicacion.city}}\",\n        \"region\":\"{{msg.ubicacion.region}}\",\n        \"pais\":\"{{msg.ubicacion.country}}\",\n        \"coordenadas\":\"{{msg.ubicacion.loc}}\",\n        \"codigoPostal\":\"{{msg.ubicacion.postal}}\",\n        \"zonaHoraria\":\"{{msg.ubicacion.timezone}}\"\n    },\n    \"fechaHoraRecepcion\":\"fecha\",\n    \"categoria\":\"casa\",\n    \"subCategoria\":\"habitacion\",\n    \"identificador\":\"TK01\",\n    \"altitud\":\"altitud\",\n    \"puntoRocio\":\"puntoRocio\"\n}",
        "output": "json",
        "x": 440,
        "y": 100,
        "wires": [
            [
                "803a7c5001f0ec05"
            ]
        ]
    },
    {
        "id": "192ce9b6f2289ad3",
        "type": "Bme280",
        "z": "0ba476ce26e5c034",
        "name": "",
        "bus": "1",
        "address": "0x76",
        "topic": "bme280",
        "extra": false,
        "x": 220,
        "y": 100,
        "wires": [
            [
                "97d679fe1aa414ae"
            ]
        ]
    },
    {
        "id": "abfba9beeca11254",
        "type": "rpi-gpio out",
        "z": "e92dc53c81852ec7",
        "name": "",
        "pin": "26",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 980,
        "y": 100,
        "wires": []
    },
    {
        "id": "d8c19af7c11134bf",
        "type": "rpi-gpio out",
        "z": "e92dc53c81852ec7",
        "name": "",
        "pin": "19",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "5533ae5039db6c09",
        "type": "rpi-gpio out",
        "z": "e92dc53c81852ec7",
        "name": "",
        "pin": "13",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 960,
        "y": 400,
        "wires": []
    },
    {
        "id": "d27f6f5d4cc32eee",
        "type": "switch",
        "z": "e92dc53c81852ec7",
        "name": "",
        "property": "color",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Rojo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Verde",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Amarillo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Apagar",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Lila",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Azul",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "0e287230a3049135",
                "11b4e817401957e4"
            ],
            [
                "acc68537f9218d62",
                "6596b0203614fb63"
            ],
            [
                "c5da78eae25cb2bf",
                "2105d484190119db"
            ],
            [
                "0e477aa35d9c15ed"
            ],
            [
                "6b8e162b1e8260ea",
                "654a0d4a6cd53350"
            ],
            [
                "5258b827dbc01ded",
                "f9955a21ccc6beb2"
            ]
        ]
    },
    {
        "id": "11b4e817401957e4",
        "type": "template",
        "z": "e92dc53c81852ec7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 480,
        "y": 120,
        "wires": [
            [
                "d8c19af7c11134bf",
                "5533ae5039db6c09"
            ]
        ]
    },
    {
        "id": "0e287230a3049135",
        "type": "template",
        "z": "e92dc53c81852ec7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 480,
        "y": 80,
        "wires": [
            [
                "abfba9beeca11254"
            ]
        ]
    },
    {
        "id": "acc68537f9218d62",
        "type": "template",
        "z": "e92dc53c81852ec7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "d8c19af7c11134bf"
            ]
        ]
    },
    {
        "id": "6596b0203614fb63",
        "type": "template",
        "z": "e92dc53c81852ec7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "abfba9beeca11254",
                "5533ae5039db6c09"
            ]
        ]
    },
    {
        "id": "c5da78eae25cb2bf",
        "type": "template",
        "z": "e92dc53c81852ec7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 460,
        "y": 380,
        "wires": [
            [
                "5533ae5039db6c09"
            ]
        ]
    },
    {
        "id": "2105d484190119db",
        "type": "template",
        "z": "e92dc53c81852ec7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 460,
        "y": 420,
        "wires": [
            [
                "d8c19af7c11134bf",
                "abfba9beeca11254"
            ]
        ]
    },
    {
        "id": "0e477aa35d9c15ed",
        "type": "template",
        "z": "e92dc53c81852ec7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 460,
        "y": 540,
        "wires": [
            [
                "abfba9beeca11254",
                "d8c19af7c11134bf",
                "5533ae5039db6c09"
            ]
        ]
    },
    {
        "id": "6b8e162b1e8260ea",
        "type": "template",
        "z": "e92dc53c81852ec7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 460,
        "y": 640,
        "wires": [
            [
                "abfba9beeca11254",
                "5533ae5039db6c09"
            ]
        ]
    },
    {
        "id": "654a0d4a6cd53350",
        "type": "template",
        "z": "e92dc53c81852ec7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 460,
        "y": 680,
        "wires": [
            [
                "d8c19af7c11134bf"
            ]
        ]
    },
    {
        "id": "f9955a21ccc6beb2",
        "type": "template",
        "z": "e92dc53c81852ec7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "0",
        "output": "str",
        "x": 460,
        "y": 800,
        "wires": [
            [
                "d8c19af7c11134bf",
                "abfba9beeca11254"
            ]
        ]
    },
    {
        "id": "5258b827dbc01ded",
        "type": "template",
        "z": "e92dc53c81852ec7",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "1",
        "output": "str",
        "x": 460,
        "y": 760,
        "wires": [
            [
                "5533ae5039db6c09"
            ]
        ]
    },
    {
        "id": "f5b6bbc15439bbef",
        "type": "exec",
        "z": "f1eb68bd8dddaee2",
        "command": "curl -s icanhazip.com",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "135a9943e3d30d49"
            ],
            [],
            []
        ]
    },
    {
        "id": "135a9943e3d30d49",
        "type": "exec",
        "z": "f1eb68bd8dddaee2",
        "command": "curl ipinfo.io/",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "0b93cd2b8436f390"
            ],
            [],
            []
        ]
    },
    {
        "id": "6f2e636c2084d967",
        "type": "json",
        "z": "f1eb68bd8dddaee2",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 160,
        "wires": [
            [
                "4808205d1f385054"
            ]
        ]
    },
    {
        "id": "0b93cd2b8436f390",
        "type": "split",
        "z": "f1eb68bd8dddaee2",
        "name": "",
        "splt": "<HTML>",
        "spltType": "str",
        "arraySplt": "1",
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "6f2e636c2084d967"
            ]
        ]
    },
    {
        "id": "4808205d1f385054",
        "type": "template",
        "z": "f1eb68bd8dddaee2",
        "name": "",
        "field": "ubicacion",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n{\n \"ciudad\":\"{{payload.city}}\",\n \"region\":\"{{payload.region}}\",\n \"pais\":\"{{payload.country}}\",\n \"coordenadas\":\"{{payload.loc}}\",\n \"codigoPostal\":\"{{payload.postal}}\",\n \"zonaHoraria\":\"{{payload.timezone}}\"\n}",
        "output": "json",
        "x": 420,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "08c849a2151be731",
        "type": "subflow:0ba476ce26e5c034",
        "z": "a70b308d97d0a0ed",
        "name": "Conexión Sensor de temperatura y humedad",
        "x": 870,
        "y": 60,
        "wires": [
            [
                "6a2a399568432e3e"
            ]
        ]
    },
    {
        "id": "31635289e8856c33",
        "type": "inject",
        "z": "a70b308d97d0a0ed",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "2d20147990ddc268"
            ]
        ]
    },
    {
        "id": "96949194bc3dd5b9",
        "type": "mqtt out",
        "z": "a70b308d97d0a0ed",
        "name": "",
        "topic": "casa/habitacion/tempHum",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9039ce5a53d8ac8d",
        "x": 1070,
        "y": 140,
        "wires": []
    },
    {
        "id": "9180e561e1652570",
        "type": "rc522-extra",
        "z": "a70b308d97d0a0ed",
        "name": "Lector de tarjetas electronicas",
        "blockedFor": 5,
        "CSpin": "24",
        "dataBlockAddr": 8,
        "dataBlockLength": 4,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "c765ec807b6c0ae6"
            ]
        ]
    },
    {
        "id": "fee7ac5ad9a14aa3",
        "type": "rpi-gpio in",
        "z": "a70b308d97d0a0ed",
        "name": "Sensor PIR",
        "pin": "20",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "c765ec807b6c0ae6"
            ]
        ]
    },
    {
        "id": "5f844d3ebda3036b",
        "type": "subflow:e92dc53c81852ec7",
        "z": "a70b308d97d0a0ed",
        "name": "Setear color en led",
        "x": 1090,
        "y": 400,
        "wires": []
    },
    {
        "id": "fa49e24c65a21e5d",
        "type": "inject",
        "z": "a70b308d97d0a0ed",
        "name": "Apagar Led",
        "props": [
            {
                "p": "color",
                "v": "Lila",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 810,
        "y": 480,
        "wires": [
            [
                "5f844d3ebda3036b"
            ]
        ]
    },
    {
        "id": "3b337c9016b3dae3",
        "type": "subflow:f1eb68bd8dddaee2",
        "z": "a70b308d97d0a0ed",
        "name": "Obtener mi ubicacion",
        "x": 560,
        "y": 60,
        "wires": [
            [
                "08c849a2151be731"
            ]
        ]
    },
    {
        "id": "d977538e088c78a8",
        "type": "mqtt in",
        "z": "a70b308d97d0a0ed",
        "name": "",
        "topic": "casa/habitacion/autenticacion",
        "qos": "2",
        "datatype": "utf8",
        "broker": "9039ce5a53d8ac8d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 400,
        "wires": [
            [
                "25fd2c6672854875"
            ]
        ]
    },
    {
        "id": "25fd2c6672854875",
        "type": "function",
        "z": "a70b308d97d0a0ed",
        "name": "function 1",
        "func": "var paquete = msg.payload;\n\nif (paquete.includes(\"RequestError\") || paquete.includes(\"404\") || paquete.includes('codigo\":-1,'))\n    msg.color = \"Rojo\";\n\nif (paquete.includes(\"403\"))\n    msg.color = \"Amarillo\";\n\nif (paquete.includes('{\"codigo\":0'))\n    msg.color = \"Verde\";\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 420,
        "wires": [
            [
                "5f844d3ebda3036b"
            ]
        ]
    },
    {
        "id": "6a2a399568432e3e",
        "type": "change",
        "z": "a70b308d97d0a0ed",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "ubicacion",
                "pt": "msg",
                "to": "payload.ubicacion",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 140,
        "wires": [
            [
                "96949194bc3dd5b9"
            ]
        ]
    },
    {
        "id": "91768124121d1879",
        "type": "delay",
        "z": "a70b308d97d0a0ed",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 660,
        "y": 280,
        "wires": [
            [
                "550c1288f4a6a718",
                "af637f214606e9ad"
            ]
        ]
    },
    {
        "id": "2d20147990ddc268",
        "type": "switch",
        "z": "a70b308d97d0a0ed",
        "name": "",
        "property": "autorizacion",
        "propertyType": "global",
        "rules": [
            {
                "t": "neq",
                "v": "undefined",
                "vt": "jsonata"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 60,
        "wires": [
            [
                "3b337c9016b3dae3"
            ]
        ]
    },
    {
        "id": "c765ec807b6c0ae6",
        "type": "change",
        "z": "a70b308d97d0a0ed",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "autorizacion",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 280,
        "wires": [
            [
                "91768124121d1879",
                "a21b74f436bf70cf"
            ]
        ]
    },
    {
        "id": "550c1288f4a6a718",
        "type": "change",
        "z": "a70b308d97d0a0ed",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "autorizacion",
                "pt": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "af637f214606e9ad",
        "type": "template",
        "z": "a70b308d97d0a0ed",
        "name": "",
        "field": "color",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Lila",
        "output": "str",
        "x": 900,
        "y": 320,
        "wires": [
            [
                "5f844d3ebda3036b"
            ]
        ]
    },
    {
        "id": "a21b74f436bf70cf",
        "type": "template",
        "z": "a70b308d97d0a0ed",
        "name": "",
        "field": "color",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Azul",
        "output": "str",
        "x": 640,
        "y": 340,
        "wires": [
            [
                "5f844d3ebda3036b"
            ]
        ]
    }
]